<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= profile.birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= profile.role %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
