<%= form_with(model: comment) do |form| %>
  <div>
  <%= form.hidden_field :article_id, value: article.id %>
  </div>
  
  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
