<div>
    <%= form_with(model: @article) do |form| %>
        <% if @article.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

                <ul>
                <% @article.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <div>
            <%= form.label :name, 'Insert name:' %>
            <%= form.text_field :name %>
        </div>
        <div>
            <%= form.label :description, 'Insert description:' %>
            <%= form.text_field :description %>
        </div>
        <div>
            <%= form.label :avatar, 'Insert main image: ' %>
            <%= form.file_field :avatar %>
        </div>
            <%= form.label :body, 'Insert content: ' %>
            <%= form.rich_text_area :body %>
        <div>
            <%= collection_check_boxes(:categories, :ids, Category.all, :id, :name) do |b| %>
                <% if @article.categories.include?(Category.find(b.object.id)) %>
                    <%= b.check_box checked: true %>
                <% else %>
                    <%= b.check_box %>
                <% end %>
                <%= b.object.name  %>
            <% end %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
</div>