<h1>Show Articles</h1>

<div>
    <h3><%= @article.name %></h3>
</div>
<div>
    <%= @article.description %>
</div>
<%= notice if notice %>
<div>
    <%= link_to 'Edit article',  article_edit_path(@article)%>
    <%= button_to 'Delete article', article_destroy_path(@article), method: :delete %>
</div>